doctype html
html(lang="ru")
    head
        title= title
    body(style="font-family: sans-serif")
        p Start new process
        form#startProcessForm
            label(for="processId")
            input(type="text" name="id")#processId
            button(type="submit") Start
        p List of processes&nbsp;
            button(type="button")#refreshStatusButton &#x21bb;
        ul
            each proc in processList
                li= proc.id + ': ' + proc.status + ' '
                    if proc.status === "rejected"
                        span(style="color: red")= proc.result
                    if proc.status === "fullfilled"
                        a(href="/gizaApp/process/" + proc.id) result
                    =" "
                    if proc.status !== "pending"
                        button(type="button" style="color: red" data-processId=proc.id).deleteProcessButton &times;

        script.
          (function() {
            function reload() {
              location.reload();
            }

            function onStartProcessFormSubmit(event) {
              event.preventDefault();
              const id = document.getElementById("processId").value;
              if (id === "") return;
              const xhr = new XMLHttpRequest();

              xhr.open("POST", "/gizaApp/api/allign", false);
              xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
              xhr.send(JSON.stringify({ id }));
              reload();
            }

            function onRefreshStatusButtonClick(event) {
              reload();
            }

            function onDeleteProcessButtonClick(event) {
              const self = event.target;
              const id = self.getAttribute("data-processId");
              if (id === "") return;
              const xhr = new XMLHttpRequest();

              xhr.open("DELETE", "/gizaApp/api/process", false);
              xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
              xhr.send(JSON.stringify({ id }));
              reload();
            }

            function init() {
              const startProcessForm = document.getElementById("startProcessForm");
              const refreshStatusButton = document.getElementById("refreshStatusButton");
              const deleteProcessButtons = document.getElementsByClassName("deleteProcessButton");

              startProcessForm.addEventListener("submit", onStartProcessFormSubmit);
              refreshStatusButton.addEventListener("click", onRefreshStatusButtonClick);
              for (let i = 0; i < deleteProcessButtons.length; i++) {
                deleteProcessButtons[i].addEventListener("click", onDeleteProcessButtonClick)
              }
            }

            document.addEventListener("DOMContentLoaded", init())
          })();