doctype html
html(lang="ru")
    title= title
body
    each sentensePair in result
        div(style="margin-bottom: 20px; white-space: nowrap")
            p(style="margin: 0")= sentensePair[0]
            p(style="margin: 0")= sentensePair[1]
